<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escuela Infantil Pequeños Pasos</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <!--CABECERA-->
    <header>
        <img src="../assets/images/logo_guarderia_infantil_pies_dibujo_lila.jpg" alt="foto logotipo escuela con dibujo de pies de color lila" class="logotipo">
        <h1 class="frase">"Cuando se puede elegir es obligado acertar"</h1>
    </header>

    <!--BARRA NAVEGACIÓN-->
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../views/galeria.html">Galeria</a></li>
            <li><a href="#">Presupuesto</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
        </ul>
        <form>
            <input type="search" placeholder="Buscar">
            <input type="submit" value="Buscar">
        </form>
    </nav>
    
    <!--CONTENIDO PRINCIPAL-->
     <!--<section> y <article>: Organizan el contenido en bloques.
            Imagen de contacto: Una imagen representativa acompañada de un formulario de contacto.
            Formulario de contacto:
                -Nombre: Campo para que el usuario introduzca su nombre.
                -Correo electrónico: Campo para el email.
                -Mensaje: Un área de texto para el mensaje.
                -Botón de envío: Envía los datos del formulario.
                -Checkbox: Confirma que el usuario acepta la política de privacidad.-->
    <main>
        <div class="container_form">
            <article class="info_form">
                <img src="../assets/images/contacto.jpg" alt="caritas sonrientes" width="1024" height="683" class="imagen_contacto">
                <div>
                    <h2 class="titulo">Contáctanos</h2>
                    <p>
                        Si tienes preguntas, no dudes en ponerte en contacto con nosotros, estaremos encantados de informarte de todo lo que necesites saber.
                    </p>
                    <form action="#" method="get" name="formulario" class="form">
                        <div class="form_datos">                   
                            <input type="text" name="Nombre" placeholder="Nombre" required>
                            <input type="email" name="Email" placeholder="Email"  required>
                            <input type="tel" name="Teléfono" placeholder="Teléfono" required>
                            <textarea name="Mensaje" id="Mensaje" placeholder="Solicita información"></textarea>
                        </div>
                        <div class="form_botones">
                            <input type="submit" value="Enviar">
                        </div>
                        <div class="boton_politica">
                            <input type="checkbox" name="Acepto politica de privacidad" checked>He leido y acepto la politica de privacidad
                        </div>
                    </form>
                </div>     
            </article>
        </div>
    </main>

    <!--PIE DE PAGINA-->
    <footer>
        <div>
            <div class="contenido_redes">
                <h2 class="titulo_redes">Siguenos en las redes sociales</h2>
		        <a href="https://www.facebook.com/" target="_blank" ><img class="redes"  src="../assets/images/icons8-facebook-nuevo-48.png" alt="Icono facebook" width="48" height="48"></a>
		        <a href="https://www.instagram.com/?hl=es" target="_blank" ><img class="redes"  src="../assets/images/icons8-instagram-48.png" alt="Icono instagram" width="48" height="48"></a>
            </div>
            <div class="contenido_relacionado">
                <p>CEI Pequeños Pasos: C/ de Montearagon, 3, Bajo, Hortaleza, Madrid</p>
                <p><a href="#" class="aviso_legal">Aviso legal</a></p>
                <p>&copy; 2024 CEI Pequeños Pasos Todos los derechos reservados</p>
            </div>   
        </div>  
    </footer>
    <script src="./js/javascript.js"></script>
</body>
</html>