<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escuela Infantil Pequeños Pasos</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <!--CABECERA-->
    <header>
        <img src="../assets/images/Logo guardería infantil pies dibujo lila.jpg" alt="foto logotipo escuela" class="logotipo" width="500" height="500">
        <h1 class="frase">"Cuando se puede elegir es obligado acertar"</h1>
    </header>

    <!--BARRA DE NAVEGACION-->
    <nav>
        <ul>
            <li><a href="../index.html" target="_blank">Inicio</a></li>
            <li><a href="../views/contacto.html" target="_blank">Contacto</a></li>
            <li><a href="./views/presupuesto.html" target="_blank">Presupuesto</a></li>
            <li><a href="#">Productos</a></li>
        </ul>
        <form>
            <input type="search" placeholder="Buscar">
            <input type="submit" value="Buscar">
        </form>
    </nav>
    
    <!--CONTENIDO PRINCIPAL-->
    <main>
        <!--Primera Sección (<div class="texto">):
                -Contiene un título, una imagen y un párrafo describiendo la propuesta educativa de la escuela.
            Segunda Sección (<section class="grid-container">):
                -Organiza contenido en un diseño de rejilla (grid) con varias imágenes y textos que describen distintos aspectos del enfoque educativo.
            Artículos en Rejilla (Grid)
            Cada <div class="grid-item"> sigue un formato:
                -Imagen que ilustra el tema.
                -Encabezado (<h2>) que introduce el tema.
                -Párrafo (<p>) que ofrece más detalles sobre el tema.-->
                    <div class="texto">
                        <h1>¿QUE OFRECEMOS?</h1>
                        <img src="../assets/images/fondoproductos.jpg" alt="foto manos bebes" width="612" height="408" class="foto">
                        <p>
                            En CEI Pequeños Pasos, ofrecemos una experiencia educativa única, centrada en el respeto mutuo, la autonomía y el desarrollo emocional desde los primeros años. Nuestro enfoque integral incluye Disciplina Positiva, Inteligencia Emocional, y una alimentación saludable, todo en un entorno seguro y lleno de amor. En Pequeños Pasos cada día es una oportunidad para crecer y explorar el mundo con curiosidad y alegría.
                        </p>
                    </div>
                    <section class="grid-container">
                        <div class="grid-item">
                            <img src="../assets/images/alimentossaludables.jpg" alt="alimentación saludable" width="1024" height="768">
                            <h2 class="titulo">ALIMENTACIÓN SALUDABLE</h2>
                            <p>
                                Creamos hábitos de alimentación saludables a diario, tanto en nuestros menús como en nuestro entorno, cuidando nuestro día a día con frutas y verduras frescas, legumbres ecológicas y materias prima de primera calidad, confiando en las mejores manos, y guiados por nutricionistas especializados en niños de 0/3 años.
                            </p>
                        </div>
                        <div class="grid-item">
                            <img src="../assets/images/disciplina.jpeg" alt="" width="1024" height="768">
                            <h2 class="titulo">DISCIPLINA POSITIVA</h2>
                            <p>
                                La Disciplina Positiva es educar desde la amabilidad y la firmeza.
                                Es la alternativa más efectiva, entendida como un recurso para el desarrollo infantil sano, que procura la felicidad y el bienestar de los menores a través del cual los niños aprenden a ser autónomos y
                                responsables. Se basa en el respeto mutuo hijo/padres y otras personas cercanas como maestros, hermanos etc. e implica al niño, sin imponer, pero aportando reglas y normas comunes.
                            </p>          
                        </div>
                        <div class="grid-item">
                            <img src="../assets/images/psicmotricidad.jpeg" alt="psicomotricidadvivenciada" width="1024" height="768">
                            <h2 class="titulo">PSICOMOTRICIDAD VIVENCIADA</h2>
                            <p>
                                No les decimos a los niños qué tienen que hacer, cómo o en qué orden. A cambio les ofrecemos un espacio, un tiempo y una observación individualizada, que lo respeta y lo hace evolucionar teniendo en cuenta que cada uno tiene un ritmo diferente y por lo tanto, unas necesidades diferentes.
                            </p> 
                        </div>
                        <div class="grid-item">
                            <img src="../assets/images/inteligencia.jpg" alt="inteligencia-emocional-en-ninos" width="1024" height="768">
                            <h2 class="titulo">INTELIGENCIA EMOCIONAL</h2>
                            <p>
                                Las emociones, pueden influenciar nuestra vida en multitud de sentidos.
                                En la Inteligencia emocional en niños, y para poder llegar a comprenderlas mejor, debemos tenerlas presentes en todo momento, siendo los primeros años de vida una etapa crucial para el aprendizaje y manejo de las mismas.
                            </p>
                        </div>
                    </section>      
    </main>

    <!--PIE DE PAGINA-->
    <footer>
        <section>
            <article class="contenido_redes">
                <h2 class="titulo_redes">Siguenos en las redes sociales</h2>
		        <a href="https://www.facebook.com/" target="_blank" ><img class="redes"  src="../assets/images/icons8-facebook-nuevo-48.png" alt="Icono facebook" width="48" height="48"></a>
		        <a href="https://www.instagram.com/?hl=es" target="_blank" ><img class="redes"  src="../assets/images/icons8-instagram-48.png" alt="Icono instagram" width="48" height="48"></a>
            </article>
            <article class="contenido_relacionado">
                <p>CEI Pequeños Pasos: C/ de Montearagon, 3, Bajo, Hortaleza, Madrid</p>
                <p>Aviso Legal</p>
                <p>&copy; 2024 CEI Pequeños Pasos Todos los derechos reservados</p>
            </article>  
        </section>    
    </footer>
    <script src="./js/javascript.js"></script>
</body>
</html>